body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('/img/R.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.ratings-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    margin-bottom: 10px;
}

.calificacion {
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    border-radius: 50%;
    padding-left: 5px;
    color: rgb(16, 150, 173);
}

button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #979a8c;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0,.1);
}
button:hover {
    background-color: #adb08e;
}

.ratings-chart {
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.barraCalificacion {
    width: 50%;
    height: 40px;
    border-radius: 7px;
    background-color: #e2e1e197;
    border: 2px solid #ccc;
    display: flex;
    overflow: hidden;
}
.barraCalificacion:hover {
    background-color: rgb(255, 246, 244);
    border: 2px solid #e8a663;
}

.puntaje {
    height: 40px;
    transition: width 0.5s ease-in-out;
}

.bar-1 { background-color: rgb(255, 164, 28); }
.bar-2 { background-color: rgb(255, 164, 28);; }
.bar-3 { background-color: rgb(255, 164, 28);; }
.bar-4 { background-color: rgb(255, 164, 28);; }
.bar-5 { background-color: rgb(255, 164, 28);; }

p, h4 {
    padding-left: 5px;
    margin: 5px 0;
    color: rgb(16, 150, 173);
}

.label{
    padding-right: 5px;
    color: rgb(16, 150, 173);
}

